@font-face {
  font-family: 'Vollkorn';
  src: url('fonts/Vollkorn-Regular.woff2') format('woff2'),
    url('fonts/Vollkorn-Regular.woff') format('woff'),
    url('fonts/Vollkorn-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.woff2') format('woff2'),
    url('fonts/Raleway-Bold.woff') format('woff'),
    url('fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.woff2') format('woff2'),
    url('fonts/Raleway-Medium.woff') format('woff'),
    url('fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('fonts/Vollkorn-SemiBold.woff2') format('woff2'),
    url('fonts/Vollkorn-SemiBold.woff') format('woff'),
    url('fonts/Vollkorn-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
