@use 'breakpoints' as bp;

$md-and-up: map-get(bp.$breakpoints, 'md-and-up');
$lg-and-up: map-get(bp.$breakpoints, 'lg-and-up');
$xl-and-up: map-get(bp.$breakpoints, 'xl-and-up');

$heading-font-family: 'Vollkorn', serif;
$body-font-family: 'Raleway', sans-serif;

$transition: 0.2s cubic-bezier(0, -0.2, 0.3, 1);

:root {
  --white: #fff;
  --black: #000;
  --primary: #fd5309;
  --background: #1A1E21;
  --font: #191516;
  --card-background: #262a2d;
  --gallery-background: #F4F4F4;
}
