@import './variables';

#contact-form {
  .container {
    width: 60%;
    font: {
      family: $font-Mont;
      weight: bold;
    }
    .error {
      color: red;
      padding: 30px 0;
    }
    .form {
      .form-control {
        // border: 2px solid red;
        background-color: $main-color-rgba;
        color: $color-white;
        border: none;
        border-radius: 0;
      }
      textarea {
        resize: vertical;
        max-height: 300px;
        min-height: 200px;
      }
      ::-webkit-input-placeholder {
        color: $color-white-rgba;
      }
      .input-bottom-validate {
        border: none;
        border-bottom: 3px solid red;
      }

      button {
        background-color: $main-color-rgba;
        border: none;
        padding: 10px 20px;
        outline: transparent;
      }
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        color: $color-white;
        > div {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .form-control:focus,
    button:focus {
      -webkit-box-shadow: 0px 0px 5px $main-color;
      box-shadow: 0px 0px 5px $main-color;
    }
  }
}

@media only screen and (max-width: 991px) {
  #contact-form {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
}
