@import './variables';

#contact {
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~/images/pokoje-w-goralskim-stylu-zakopane.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(0.3);
  }
  .container {
    position: relative;
    background-color: transparent;

    h2 {
      margin: 0;
      padding-top: 50px;
      text-align: center;
      color: $color-white;
    }
  }
}

@media only screen and (max-width: 991px) {
  #contact {
    .background-image {
      background-attachment: initial;
      background-repeat: no-repeat;
    }
  }
}
