@import './variables';

footer {
  display: flex;
  justify-content: center;
  color: $color-white;
  padding: 50px 0;
  font: {
    family: $font-Meri;
  }
  a {
    color: $color-white;
    transition: 0.3s;
    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 450px) {
  footer {
    font-size: 12px;
  }
}
