@import './variables';

.no-display {
  position: fixed;
  bottom: -200px;
  opacity: 0;
  visibility: hidden;
}

.fa {
  text-shadow: none;
}

.go-to-top {
  opacity: 1;
  visibility: visible;
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  font-size: 55px;
  border-radius: 50%;
  transition: 0.5s opacity;
  z-index: 1070;
  background-color: #fff;
  color: $main-color;
  i {
    position: absolute;
    top: -5px;
    left: 0;
    transform: translate(-5%, -5%);
  }
  &:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: $main-color;
    color: $color-white;
  }
}
