@import './variables';

#home {
  padding: 50px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      margin: 0;
    }
    > div {
      text-align: center;
      padding: 10px 0;
      font: {
        family: $font-Meri;
        size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #home {
    .container {
      max-width: 100%;
    }
  }
}
