@import './variables';

// Gallery lightbox
.gallery {
  padding: 50px 0;

  h2 {
    text-align: center;
    margin: 0;
  }
  hr {
    border: 1px solid $main-color;
    width: 80%;
  }
}
.grid-gallery {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 250px;
  grid-auto-flow: dense;
}

.contextmenu {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: $color-white;
  padding: 5px 10px;
  border: 1px solid $color-font;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s opacity;
  &-show {
    visibility: visible;
    opacity: 1;
    transition: 0.2s opacity;
    z-index: 1100;
  }
}

.imageGallery1 {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;

  & a {
    position: relative;
    display: inline-block;
    height: 100%;
    
    &::after {
      content: '\f002';
      font: {
        family: FontAwesome;
        size: 70px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $main-color-rgba;
      opacity: 0;
      transition: 0.5s opacity;
      cursor: pointer;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // z-index: 1090;
  }
}

.vertical {
  grid-row: span 2;
}
.horizontal {
  grid-column: span 2;
}

.lightbox-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1090;
  .lightbox {
    position: relative;
    height: 100%;
    width: 100%;
    .loading {
      position: fixed;
      z-index: 1090;
    }
    .lg-arrows {
      position: absolute;
      top: 50%;
      width: 100px;
      height: 200px;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      color: $color-white;
      font-size: 50px;
      cursor: pointer;
      &:focus {
        box-shadow: 0 0 15px -5px $main-color;
      }
    }
    .lg-left {
      left: 5%;
    }
    .lg-right {
      right: 5%;
    }
    .lg-close {
      position: absolute;
      right: 5%;
      top: 0;
      cursor: pointer;
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: none;
      color: $color-white;
      font-size: 30px;
      &:focus {
        box-shadow: 0 0 15px -5px $main-color;
      }
    }
    img {
      position: fixed;
      left: 50%;
      top: 50%;
      max-height: 90%;
      max-width: 70%;
      transform: translate(-50%, -50%);
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 991px) {
  #gallery {
    .gallery .container {
      max-width: 100%;
      .grid-gallery .imageGallery1 {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #gallery .gallery .container .grid-gallery .imageGallery1 a::after {
    display: none;
  }
}
