@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$color-white: #fff;
$color-white-rgba: rgba(255, 255, 255, 0.6);
$color-font: #4e5151;
$main-color: #f2735a;
$main-color-rgba: rgba(242, 115, 90, 0.5);
$bg-color: #f7f9f4;

$font-Meri: 'Merriweather', serif;
$font-Mont: 'Montserrat', sans-serif;
$font-Pacifico: 'Pacifico', cursive;
$font-Raleway: 'Raleway', sans-serif;
