@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$color-white: #fff;
$main-color: #f2735a;

$font-Meri: 'Merriweather', serif;
$font-Mont: 'Montserrat', sans-serif;
$font-Pacifico: 'Pacifico', cursive;
